<!DOCTYPE html>
<html>
{{> head.hbs}}
<body>
  <main>
    <img src="logo.png" alt="Brocessing">
    <h1>{{title}}</h1>
    <ul>
      {{#each links}}
        <li class="projects">
          <a class="links" href="{{url}}" target=_blank><h1>{{name}}</h1></a>
            <p>{{caption}}</p>
           <a class="links" href="{{url}}" target=_blank>{{#if img}}<img src={{img}} alt={{alt}}>{{/if}}</a>
        </li>
          {{#if video}}
            <video controls muted playsinline>
              <source src={{video}}>
              <img src={{video_img}} alt={{alt}} />
          </video>
          {{/if}}
      {{/each}}
    </ul>
  </main>
  <script src="{{compiler.hash}}.js"></script>
</body>
</html>
